  .footer {
    height: 60px;
    background-color: #a2a2a28f;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .tableStyle {
    box-shadow: 1px 1px 1px 1px #8080808c;
    padding: 5px;
    background: white;
  }