h2 {
    margin: 5px;
}
.rightAligned {
    float: right;
}
.padding-10{
    padding:15px
}
li a:hover:not(.active) {
    color: white;
    text-decoration: none;
}
a:focus, a:hover , a:active{
    color: white;
    text-decoration: none;
}
.header {
    z-index: 100000001;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    height: 42px;
    background-color: #3f51b5;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}