body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #cecece54;
}

.loadingBar > div {
  left: 0 !important;
  top: 0 !important;
  position: fixed !important;
  z-index: 100000001 !important;
  width: 100% !important;
  height: 100% !important;
  background: #d8d5d5 !important;
  opacity: .5 !important;
}
.loadingBar > div div{
  top: 50% !important;
  position: relative;
}